a {
    padding-left: 20px;
    background-image: url('../images/img.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left center;
    text-decoration: none;
}
